 <!DOCTYPE html>
 <html lang="en" dir="ltr">
   <head>
     <meta charset="utf-8">
     <title></title>

   </head>
   <body>



     <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

     <!--

         Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
         Tip 2: you can also add an image using data-image tag

     -->

       <div class="sidebar-wrapper">
             <div class="logo">
                 <a href="http://www.creative-tim.com" class="simple-text">
                       Trucks Panel
                 </a>
             </div>

             <style rel="stylesheet">

              #hov:hover {
                      background-color:  rgb(168, 130, 217);
                    }


             </style>

             <ul class="nav">
                 <li class="active">
                   <form class="" action="/dashboard" id="hov" method="post" style="padding:15px;margin:5px;
                   border-radius: 5px;">
                      <div style="text-align: center;">
                     <i class="pe-7s-graph" style="font-size:30px;margin-left:10px;padding-bottom:15px"></i>
                    <input type="submit"    value="Dashboard" style="background-color:transparent;border:none;width:70%;
                       font-size: 14px;margin-left:-50%;padding-top: 8px;
                    " >
                  </div>
                  </form>

                 </li>
            <li>


                   <form class="" action="/user" id="hov" method="post" style="padding:15px;margin:5px;
                   border-radius: 5px;">
                     <div style="text-align: center;">
                     <i class="pe-7s-user" style="font-size:30px;margin-left:10px;padding-bottom:15px"></i>
                  <input type="submit" name="" value="Add Driver"  style="background-color:transparent;border:none;width:70%;
                     font-size: 14px;margin-left:-50%;padding-top: 8px; ">
                   </div>
                  </form>

                 </li>




                 <li>

                     <form class="" action="/table" id="hov" method="post" style="padding:15px;margin:5px;
                     border-radius: 5px;">
                      <div style="text-align: center;">
                       <i class="pe-7s-user"  style="font-size:30px;margin-left:10px;padding-bottom:15px"></i>
                     <input type="submit" name="" value="Driver List" style="background-color:transparent;border:none;width:70%;
                        font-size: 14px;margin-left:-50%;padding-top: 8px; " >
                   </div>
                     </form>





                 </li>


                 <li>
                   <form class="" action="/maps" id="hov" method="post" style="padding:15px;margin:5px;
                   border-radius: 5px;">
                   <div style="text-align: center;">
                     <i class="pe-7s-map-marker" style="font-size:30px;margin-left:10px;padding-bottom:15px"></i>
                   <input type="submit" name="" value="Maps" style="background-color:transparent;border:none;width:70%;
                      font-size: 14px;margin-left:-50%;padding-top: 8px; " >
                    </div>
                   </form>
               </li>

                 <li>
                   <form class="" action="/notifications" id="hov" method="post" style="padding:15px;margin:5px;
                   border-radius: 5px;">
                   <div style="text-align: center;">
                      <i class="pe-7s-bell" style="font-size:30px;margin-left:10px;padding-bottom:15px"></i>
                   <input type="submit" name="" value="Notifications" style="background-color:transparent;border:none;width:70%;
                      font-size: 14px;margin-left:-50%;padding-top: 8px; " >

                 </div>
                   </form>
                 </li>

             </ul>
       </div>
     </div>



   </body>
 </html>
